RewriteEngine On

RewriteCond %{HTTP:Front-End-Https} !on
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

RewriteRule ^(public)($|/) - [L,NC]
RewriteRule ^(download)($|/) - [L,NC]
  
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /index.php/$1 [L,QSA]